 <!-- Body tag and in this body class call in the CSS file-->  
    <div class="wrapper">  
        <div class="mainbody">  
            <div class="mainbody-center">  
                <h1 class="h1">  
                    Home</h1>  
                <!-- H1 tag-->  
                <p class="p">  
                    This is a Angular test</p>  
                <br>  
                <!-- Paragraph tag-->  
                <h1 class="h1">How it works</h1>
                <p class="p">  
                    Please go to the Equipments navbar to get the results. 
                </p>  
                <br>  
                Durry Du | June 23, 2022  
        </div>  
    </div>  
