<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Client</a>
        <ul class="navbar-nav me-auto">
            <ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/equipments' routerLinkActive='active' >Equipments</a>
                </li>
            </ng-container> 
            <li class="nav-item">
                <a class="nav-link" routerLink='/errors' routerLinkActive='active' >Errors</a>
            </li>
        </ul>
    </div>
</nav>